.table-container {
    overflow-y: scroll;
    height: 430px;
}

.table-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-container::-webkit-scrollbar:vertical {
    width:10px;
}

.table-container::-webkit-scrollbar-button:increment,.table-container::-webkit-scrollbar-button {
    display: none;
} 

.table-container::-webkit-scrollbar:horizontal {
    height: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.table-container::-webkit-scrollbar-track {
    border-radius: 10px;  
}