.container {
    border: 1px solid #03071e;
    overflow: auto;
}

.viewport {
    overflow: hide;
}

.rows {
    position: absolute;
    z-index: -1;
    width: 98.1%;
    will-change: transform;
}

.row {
    background-color: #48cae4;
    border: 1px solid #023e8a;
    color: #212529;
    position: relative;
}